@import url("reset.css");
h1{
	color: blue;
}
h3{
	color: blue;
}
h5{
	color: red;
}
.link{
	color: aqua;
}
div.text{
	color: darkslategray;
}
.text1 ul{
	color: blueviolet;
}
.text2 ol{
	color: darkgoldenrod;
}
