@import url("reset.css");
h1{
	color: blue;
}
h3{
	color: blue;
}
h5{
	color: red;
}
.link{
	color: aqua;
}
div.text{
	color: darkslategray;
}
.text1 ul{
	color: blueviolet;
}
#p-1{
	color: brown;
}
.text2,
.text3{
	color: crimson;
}
.text2 .list{
	color: chartreuse;
}
.green *{
	color: darkgreen;
}
.text-p > p{
	color: orangered;
}
.text-p1 ~ p{
	color: red;
}
.text.list{
	color: chocolate;
}
